<nx-header></nx-header>

<ion-content *ngIf="driverModel === null" class="user-profile-content">
	<ion-card>
		<h3>Loading data...</h3>
	</ion-card>
</ion-content>

<ion-content *ngIf="driverModel !== null" class="user-profile-content">

	<ion-card>
		<ion-row class="user-details-section" style="padding: 10px;">
			<ion-col class="user-image-wrapper" style="max-width: 150px">
				<ion-img [src]="driverModel.userImage" style="max-width: 128px"></ion-img>
			</ion-col>
			<ion-col class="user-info-wrapper">
				<ion-row class="user-data-row">
					<ion-col size="9">
						<ion-label>Driver #{{driverModel.id}}</ion-label>

						<h3 class="user-name">
							<app-text-shell [data]="driverModel.name"></app-text-shell>
						</h3>

						<!-- <nx-driver-status [button]></nx-driver-status> -->

						Your rating: {{ this.driverModel.rating }}

						<h5 class="user-title">
							<!-- app-text-shell [data]="driverModel.status"></app-text-shell> -->
							<ion-button (click)="setBusy()">{{ driverModel.status }}</ion-button>
						</h5>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-card>

	<ion-card *ngIf="driverModel !== null">
		<ion-card-header color="tj">
			<ion-label>Get lower comission</ion-label>
		</ion-card-header>

		<ion-card-content>
			<div style="margin-top: 2em;">
			<h2 *ngIf="driverModel.hasLowerComission">15% commission valid
													  until {{ driverModel.lowerCommissionTo }}</h2>

			</div>

			<h1>
			{{ driverModel.succellfulOrders }} / 20
			</h1>


			<div style="margin-top: 2em;">
				<p>
					Once your counter reaches 20 all your orders in the next 30 days will be charged with a lower fixed
					commission of 15% and the counter will reset to 0
				</p>

				<p>
					If you reach 20 orders again your time will be extended to max 30 days in the future.
				</p>
			</div>


		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header color="tj">
			<ion-label>Get PRO</ion-label>
		</ion-card-header>

		<ion-card-content>
			<div style="margin-top: 1em">
				<b>You can buy PRO with a credit card right now. PRO gives you</b>

				<ul>
					<li>Prebookings 24h</li>
					<li>Dispatch priority</li>
					<li>No points system</li>
					<li>No penalty for returning instant orders</li>
				</ul>
			</div>

			<div style="margin-top: 2em">
				<ion-button (click)="buyPro()" class="social-auth-btn facebook-auth-btn" expand="block" color="tj">
					Buy PRO Now!
				</ion-button>
			</div>
		</ion-card-content>

	</ion-card>

	<ion-card *ngIf="appData.selectedCar !== null">
		<ion-list class="no-lines" lines="none" no-lines>
			<ion-item no-lines>
				<ion-img style="padding-right: 1em" src="/assets/nx-app/ico-taxi-64.png"
						 style="max-width: 64px"></ion-img>
				<ion-label style="padding-left: 1em">
					<h1>{{ appData.selectedCar.driverCarData.registration_number }}</h1>
				</ion-label>
				<ion-icon  (click)="editCar()" slot="end" name="create"></ion-icon>
			</ion-item>
<!--			<ion-list-header>
				<ion-label>Car configuration</ion-label>
				<ion-button>Edit</ion-button>
			</ion-list-header>-->
			<ion-item class="no-lines">
				<ion-chip>
					Baby seats &nbsp;<b>{{ appData.selectedCar.childSeats }}</b>
				</ion-chip>
				<ion-chip>
					Child seats &nbsp;<b>{{ appData.selectedCar.childSeats }}</b>
				</ion-chip>
				<ion-chip>
					Booster seats &nbsp;<b>{{ appData.selectedCar.boosterSeats }}</b>
				</ion-chip>
				<ion-chip>
					{{ appData.selectedCar.hasShield ? "Car with shield" : "Car without shield" }}
				</ion-chip>

			</ion-item>
		</ion-list>
	</ion-card>

</ion-content>
