// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
	--page-margin: var(--app-broad-margin);
	--page-background: #3faff4;
}

ion-content {
	--background: #3faff4 url('/assets/nx-app/blue-city.png') bottom center no-repeat;  // #ffa800;
}

ion-toolbar {
	overflow: hidden;
	background: rgb(255,224,167) !important;
	background: linear-gradient(85deg, rgba(255,224,167,1) 0%, rgba(255,168,0,1) 13%, rgba(255,131,0,1) 100%);
	--background: linear-gradient(85deg, rgba(255,224,167,1) 0%, rgba(255,168,0,1) 13%, rgba(255,131,0,1) 100%);
	position: relative;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}

ion-card {
	padding: 2rem auto;


	/*
	.top-card {
		top: 200px;
		margin-top: 300px !important;
		--margin-top: var(--page-margin * 10);
	}
	*/
}


//
//  Form Style
//
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

img {
	max-width: 100%;
	display: block;
}

// iOS Reset
input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 640px;
	/*background-color: #FFF;*/


	padding: .75rem;
}

.card-image {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
	background: rgb(255,224,167);
	background: linear-gradient(85deg, rgba(255,224,167,1) 0%, rgba(255,168,0,1) 13%, rgba(255,131,0,1) 100%);
	position: relative;
}

.card-heading {
	position: absolute;
	left: 10%;
	top: 15%;
	right: 10%;
	font-size: 1.75rem;
	font-weight: 700;
	color: #735400;
	line-height: 1.222;
	small {
		display: block;
		font-size: .75em;
		font-weight: 400;
		margin-top: .25em;
	}
}

.card-form {
	padding: 1rem 0;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 0.7rem;
	transition: .25s ease;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 2rem;
}

.action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
}

.action-button.black {
	color: #fff;
	font-weight: bolder;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
	a {
		display: block;
		color: #6658d3;
		text-decoration: none;
	}
}





// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.login-content {
//	--background: #3eaff4 url('/assets/nx-app/orange-city.png') bottom center no-repeat;
//	background-size: 50% !important;
	--padding-start: var(--page-margin);
	--padding-end: var(--page-margin);
	--padding-top: var(--page-margin);
	--padding-bottom: var(--page-margin);

	.auth-title {
		color: var(--ion-color-dark);
		font-weight: bold;
		margin-top: calc(var(--page-margin) / 2);
		margin-bottom: calc(var(--page-margin) * (3/2));
		letter-spacing: 0.6px;
	}

	.inputs-list {
		--ion-item-background: var(--page-background);

		.input-item {
			--padding-start: 0px;
			--padding-end: 0px;
			--inner-padding-end: 0px;
		}

		.error-container {
			.error-message {
				margin: calc(var(--page-margin) / 2) 0px;
				display: flex;
				align-items: center;
				color: var(--ion-color-danger);
				font-size: 14px;

				ion-icon {
					padding-inline-end: calc(var(--page-margin) / 2);
				}
			}
		}
	}

	.login-btn {
		margin: calc(var(--page-margin) / 2) 0px;
	}

	.other-auth-options-row {
		justify-content: space-between;
		align-items: center;

		.forgot-btn {
			--color: var(--ion-color-medium);
			--padding-start: 0;
			margin: 0;

			&:focus {
				outline: none;
			}
		}

		.signup-btn {
			--color: var(--ion-color-secondary);
			margin: 0px;

			&:focus {
				outline: none;
			}
		}
	}

	.social-auth-options {
		.options-divider {
			color: var(--ion-color-medium);
			margin: var(--page-margin) 0px;
			text-align: center;
		}

		.social-auth-btn {
			margin: 0px;

			&:not(:first-child) {
				margin-top: var(--page-margin);
			}
		}
	}
}
